.game__h1{
    font-size: 200%;
    width: 50%;
    padding: 100px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: linear-gradient(#0000ff, #ffffff);
    border-radius: 50%;
}
.label{
    margin-left: 100px;
    font-size: 200%;
    color: #fff;
    width: 400px;
    height: 80px;

}